* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-family: 'avenir next', 'Quicksand', sans-serif;
  text-align: center;
  background-attachment: fixed;
}


#hovedside{
  background-image: url("../images/sten1.jpg");
}

#mama{
  font-family: 'avenir next', 'Quicksand', sans-serif;
}

/*---------------INDEX-----------------*/

/*Facebook toggle*/
.trigger{
  left: 0;
  top: 14%;
  transition: 0.5s;
}

#fbstyle{
  background-color: transparent;
  padding: 0;
  border: none;
  color: #EFD04E;
  position: fixed;
  font-size: 277%;
}

header iframe{
  position: fixed;
  top: 14%;
  left: -100%;
  width: 85%;
  transition: 0.5s;
}

.facebookshow{
  left: 0;
  transition: 0.5s;
}

.triggershow{
  left: 85%;
  top: 14%;
  transition: 0.5s;
}
/*Facebooktoggle slut*/





/*------------Side 1--------------*/
#side1 {
  height: 102vh;
  background-image: url("../images/mobiltop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 0;
}

#logotop{
  float: left;
  max-width: 30%;
  margin: 2% 0 0 2%;
}

#logobund{
  float: left;
  max-width: 30%;
  margin: 2% 0 0 2%;
}

#side1 h1 {
  color: white;
  padding-top: 200px;
  margin-top: 0;
  font-weight: normal;
}

#side1 p {
  color: white;
  font-weight: normal;
  margin: 0 5%;
}

#side1 button {
    background-color: #EFD04E;
    border: none;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 10% auto 0 auto;
    cursor: pointer;
    clear: right;
}

.dropdownbutton{
    width: 60%;
    background-color: #efdb88;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;

    display: inline-block;
    margin-top: 0;
    cursor: pointer;
}

#side1 section a{
  margin-top: 0;
  font-weight: lighter;
  color: white;
  text-align: center;
  text-decoration: none;
}

/*--------------Side 1 slutter------------------------*/








/*----------------Side 2 begynder her----------------------*/

#side2 {
  background-color: white;
  margin: auto;
  width: 90%;
  padding: 0.5em 0;
}

#side2 #mobillille {
  max-width: 80%;
}

#side2 .texttop {
    color: grey;
    font-size: 130%;
    font-weight: normal;
    line-height: 113%;
}

#side2 .textbund {
    color: grey;
    margin: 1.2em auto;
    font-weight: normal;
    font-size: 110%;
}

#side2 .textbund p{
  margin: 0;
  text-align: center;
}

#side2 #deskside {
  display: none;
}

#side2 a {
  color: #fcbe1b;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

/*-----------------Side 2 slutter-------------------*/










/*----------------Side 3 begynder her----------------------*/

#side3 {
  padding: 5% 0;
  color: white;
  background-color: rgba(99, 156, 167, 0.5);
}

#side3 nav{
  list-style-type: none;
}

#side3 nav ul{
  width: 80%;
  margin: 0 auto;
  padding: 1% 3%;
}

#side3 nav li{
  display: inline-block;
  margin: 1% 2%;
}


#side3 figure {
  display: inline-block;
  width: 80%;
}


#side3 .mySlides{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#side3 button {
    border-radius: 50%;
    padding: 15px 15px;
    margin: 0 5px;
    background-color: white;
    color: #f4d11e;
    border-style: solid;
    border-color: #ebe8e8;
    font-weight: normal;
}

#side3 #vaelg {
    border-radius: 50%;
    padding: 20px 20px;
    background-color: white;
    color: #00754c;
    border-style: solid;
    border-color: #ebe8e8;
    font-weight: normal;
}

#side3 i {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

#side3 h4 {
  padding-top: 5%;
  color: white;
}

#side3 article p {
  text-align: center;
  padding: 0 20px;
}

/*-----------------Side 3 slutter----------------------*/











/*----------------Side 4 begynder her----------------------*/

#side4 {
  background-color: white;
  padding: 1em;
}

#side4 h2 {
  color: black;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 10px;
}

#side4 figure {
  margin: 0;
  padding: 0;
}

.mor {
  width: 31%;
}

#side4 article p {
  text-align:left;
  color: black;
  padding: 0 20px;
}


#side4 button {
    background-color: #EFD04E;
    border: none;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
    clear: right;
}

#side4 section a{
  margin-top: 0;
  font-weight: lighter;
  color: black;
  text-align: center;
  text-decoration: none;
}

/*--------------------Side 4 slutter---------------------*/















/*----------------Side 5 begynder her----------------------*/


#side5 {
  padding: 1.3em;
  background: linear-gradient(rgba(126, 169, 148, 0.5), rgba(99, 156, 167, 0.5));
  color: black;
  font-size: 15px;
}

#side5 h2 {
  color: white;
}

#side5 figure {
  display: inline-block;
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5% 0 5% 0;
}

#side5 figure figcaption {
  text-align: center;
  padding: 0 10px;
}

#side5 #nytdesk {
  display: none;
}

/*----------------------------Side 5 slutter--------------------*/
















/*----------------Side 6 begynder her----------------------*/

#side6 {
  background-color: white;
  color: black;
  font-size: 15px;
  width: 80%;
  padding: 1.5em 0;
    text-align: center;
    margin: auto;
}

#side6 section p {
  font-size: 6vw;
  color: black;
}

#side6 #open{
  margin-top: 10%;
}

table {
  display: inline-block;
}

/*---------------------Side 6 slutter----------------*/













/*----------------Side 7 begynder her----------------------*/
/*--------------- gul boks over footer---------------------*/


#side7 {
  height: 5vh;
  background-color: #f5e293;
  color: black;
  font-size: 15px;
}

/*--------------Side 7 slutter--------------------*/





/*----------------Side 8 begynder her----------------------*/
/*-----------------------kontakt---------------------------*/

#side8 {
  background-color: #efd04e;
  color: black;
  font-size: 15px;
}

#side8 h2 {
  color: black;
  padding-top: 50px;
  margin-top: 0;
}

#side8 p {
  margin-top: 0;
}

#side8 iframe{
  margin: 5% auto;
}

#side8 a{
  color: #00754c;
  text-decoration: none;
  margin-left: 20px;
}

/*--------------------Side 8 slutter------------------*/












/*----------------------footer starter---------------------------*/

footer{
  background: linear-gradient(rgba(126, 169, 148, 0.9), rgba(99, 156, 167, 0.7));
  padding-top: 2%;
  padding-bottom: 2%;
}

footer .fa {
  padding: 7px;
  font-size: 18px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  margin-left: 20px;
  background: #00754c;
  color: white;
}

footer .fa:hover {
    opacity: 0.7;
}

/*---------------------Footer slutter-----------------*/





/*-----------------------INDEX SLUTTER----------------------------------*/












/*--------------------------------SPØRG MOR----------------------------------*/
#mama{
  background-image: none;
}

#mama header{
  background-color: #EFD04E;
  height: 3.5em;
}


.logo{
  width: 30%;
  float: left;
  margin: 3% 2%;
}


#mama #search{
  clear: both;
  padding-top: 8%;
}

#mama h1{
  font-size: 280%;
  margin-bottom: 3%;
  margin-top: 1%;
}

#mama h2{
  font-size: 105%;
  margin-bottom: 1.5%;
}

#mama .mor{
  width: 24%;
}

#mama .left{
  width: 90%;
  text-align: left;
}

#mama #search .left{
    margin: 0 auto;
}

#mama select{
  width: 60%;
  font-size: 90%;
  border-radius: 6px;
}

#mama #bred{
  width: 100%;
  padding-top: 5%;
}

#mama textarea{
  margin-top: 1%;
  border-radius: 6px;
  font-family: 'avenir next', 'Quicksand', sans-serif;
}

#mama #search input{
  border-radius: 6px;
  background-color: white;
  font-size: 120%;
  padding: 2% 8%;
  margin: 2% auto;
}

#mama .center{
  text-align: center;
}

#mama #quest{
  background-color: #FFEEC6;
  padding: 3% 3% 10% 3%;
  margin: 17% auto auto auto;
}

#mama ul{
  padding-left: 2%;
  margin: 0 0 7% 0;
}

#mama li{
  list-style-type: circle;
}

#mama #quest .flexitem{
  margin-top: 11%;
}

#mama #quest h2{
  font-size: 200%;
}

#mama #quest h3{
  margin: 0;
  font-size: 135%;
}

#mama #quest h4{
  margin: 1% 0;
  font-size: 110%;
  text-align: left;
}

#mama #quest p{
  text-align: left;
  font-size: 110%;
}

#mama #quest a{
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-size: 125%;
  padding: 2%;

}

/*---------------------SPØRG MOR SLUTTER--------------------------*/











/*--------------------------------Responsiv design starter---------------------*/


/*------------------Large phones-------------------*/
@media only screen and (min-width: 400px){

.triggershow{
  left: 82%;
}





#side4 .mor{
  width: 23%;
}




#side8 h2 {
    padding-top: 60px;
}





#mama header{
  height: 4em;
}

#mama #search{
  padding-top: 13%;
}

#mama textarea{
  width: 100%;
}

}





/*----------------------Tablets vertical----------------------*/
@media only screen and (min-width: 760px) {
  #side1 h1{
    font-weight: bold;
    padding-top: 7.8em;
    font-size: 310%;
  }

header iframe, header button{
  display: none;
}


#side1 p{
    font-size: 125%;
  }

  #side1 button{
    font-size: 145%;
    padding: 15px 70px;
  }

  .dropdownbutton{
    width: 50%;
  }




  h2{
    font-size: 285%;
    font-weight: bold;
  }




  #side2{
    width: 92%;
  }

  #side2 #mobilside {
    display: none;
  }

  #side2 #deskside{
    display: block;
  }

  #side2 #deskside #mobilstor{
    width: 100%;
    margin: 1em 0;
  }

  #side2 .texttop{
    font-size: 160%;
  }

  #side2 .textbund{
    font-size: 130%;
  }




  #side3 a{
    font-size: 180%;
  }

  #side3 article h4{
    font-size: 180%;
  }

  #side3 article p{
    font-size: 150%;
  }




  #side4{
    padding: 2.3em 0;
  }

  #side4 article{
    font-size: 120%;
    margin-bottom: 2.3em;
  }

  #side4 button{
    /*margin: 2.3em auto;*/
    font-size: 145%;
    padding: 15px 80px;
  }




  #side5 figure{
    width: 80%;
    margin: 3% 0;
  }




  #side6 h2{
    font-size: 270%;
  }

  #side6 tbody{
    font-size: 115%;
  }




  #side8 h2{
    padding-top: 83px;
  }

  #side8 p, #side8 a{
    font-size: 125%;
  }

  #side8 iframe{
    width: 60%;
  }




  footer .fa{
    padding: 11px;
    font-size: 35px;
    width: 7%;
    height: 60%;
    margin: 7px 2px;
  }




  #mama header{
    height: 7em;
  }

  #mama #search{
    padding-top: 9%;
  }

  #mama #quest{
    padding: 3% 5% 10% 5%;
  }

  #mama h2{
    font-size: 120%;
  }

  #mama select{
    font-size: 110%;
  }

  #mama h3{
    font-size: 145%;
  }

}


/*-------------------Tablets horizontal--------------- */
@media only screen and (min-width: 1023px){

  #logotop, #logobund{
    width: 20%;
  }



  #side1 h1{
    padding-top: 5.5em;
  }

  #side1 button{
    margin: 8% auto 0 auto;
  }




  #side2{
    width: 94%;
  }

  #side2 .texttop{
    font-size: 180%;
  }

  #side2 .texttop p{
    margin: 4% 0 1% 0;
  }

  #side2 .textbund{
    margin: 1% 0 4% 0;
  }

  #side2 .textbund{
    font-size: 140%;
  }




  #side3 nav, #side3 ul{
    display: inline;
  }

  #side3 figure{
    display: block;
    width: 55%;
    margin: 3% auto;
  }

  #side3 article{
    width: 95%;
    margin: 0 auto;
  }




  #side5 figure{
    width: 70%;
  }




  #side6 #open{
    margin-top: 5%;
  }




  #side8 iframe{
    height: 300px;
  }




  footer .fa{
    padding: 14px;
  }




  #mama header{
    height: 7em;
  }

  #mama .logo{
    width: 20%;
  }

  #mama h1{
    font-size: 320%;
    margin-top: 2%;
  }

  #mama #search{
    padding: 1% 3% 0 5%;
  }

  #mama #search h2{
    font-size: 110%;
  }

  #mama #search .flexcontainer{
    display: flex;
    flex-direction: row-reverse;
  }

  #mama #search .flexitem{
    width: 50%;
  }

  #mama .mor{
    width: 30%;
  }

  #mama select{
    width: 75%;
  }

  #mama textarea{
    width: 95%;
  }

  #mama #search input{
    font-size: 150%;
    padding: 1% 7%;
    margin: 3% auto;
  }

  #mama #quest{
    margin-top: 13%;
  }

  #mama #quest .flexcontainer article{
    margin-top: 7%;
  }

  #mama #quest .flexcontainer section{
    margin-top: 0;
  }


  #mama #quest h2{
    font-size: 220%;
  }

  #mama #quest p{
    font-size: 120%;
  }

  #mama #quest .flexitem{
    margin-top: 7%;
  }

  #mama #quest h3{
    font-size: 160%;
  }

  #mama #quest h4{
    font-size: 115%;
  }

  #mama #quest li{
    font-size: 110%;
  }

  #mama #quest ul{
    margin-bottom: 4%;
  }

  #mama #quest .flexcontainer{
    display: flex;
    flex-wrap: wrap;
  }

  #mama #quest .flexcontainer section{
    width: 50%;
  }

  #mama #quest .flexcontainer #alle{
    padding-top: 4%;
  }
}








/*----------------------Laptops-----------------------*/
@media only screen and (min-width: 1200px) {

#logotop{
  max-width: 15%;
  margin: 2% 0 0 2%;
}


#side1 h1 {
  padding-top: 14%;
}

#side1 p {
  margin: 0 5%;
}

#side1 button {
    padding: 15px 0;
    width: 20%;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    margin: 6% 2px 0 2px;
}

.dropdownbutton{
    margin: auto;
    width: 19%;
    background-color: #efdb88;
    border: none;
    display: block;
    margin-top: 0;
}

.dropdownbutton a{
  margin-top: 0;
  color: black;
  font-size: 15px;
  text-align: center;
}

#side1 a:hover{
  text-decoration: underline;
}





/*----------------Side 2 begynder her----------------------*/

#side2{
  width: 99%;
}

#side2 #mobilstor {
  max-width: 85%;
  margin-top: 7%;
}

#side2 .texttop {
    font-size: 2.8vw;
    font-weight: lighter;
    margin-left: 4%;
}

#side2 .textbund {
    font-size: 2vw;
    font-weight: lighter;
}




/*----------------Side 3 begynder her----------------------*/

#side3{
  width: 80%;
  margin: auto;
}

#side3{
  padding-top: 2%;
}

#side3 nav a{
  font-size: 1.2vw;
}

#side3 nav a:hover{
  text-decoration: underline;
}

#side3 nav li{
  margin: 1%;
}

#side3 figure {
  display: block;
  margin: auto;
  width: 40%;
}

#side3 #vaelg {
    margin-top: 3%;
}

#side3 i {
  text-align: center;
  font-size: 40px;
}

#side3 h2 {
  padding: 0;
  margin-top: 2px;
}

#side3 h4{
  padding-top: 2%;
}







/*----------------Side 4 begynder her----------------------*/

#side4 h2{
  margin-bottom: 2%;
}

#side4 .flexcontainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 1% auto;
}

#side4 .flexcontainer article{
  width: 60%;
}

#side4 .flexcontainer figure{
  width: 40%;
}

#side4 #mellemrum{
  margin-top: 1%;
}

#side4 .mor{
  width: 30%;
}

#side4 article p {
  margin:0;
}






/*----------------Side 5 begynder her----------------------*/

#side5{
  padding-bottom: 3%;
}

#side5 #nytmobil {
  display: none;
}

#side5 #nytdesk {
  display: inline;
}
#side5 figure{
  width: 25%;
  margin: 30px;
}

/*----------------Side 6 begynder her----------------------*/
#side6 {
  padding: 5.5em 0;
  width: 90%;
}

#side6 h2{
  font-size: 35px;
}

#side6 table {
  font-size: 12px;
}

#side6 #open{
  margin: 0;
}

#side6 .flexcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}





/*----------------Side 7 begynder her----------------------*/

#side7{
height: 10vh;
}






/*----------------Side 2 begynder her----------------------*/

#side8{
  padding-bottom: 3%;
}

#side8 .flexcontainer{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  clear: both;
}

#side8 .flexitem{
}

#side8 article{
  text-align: left;
}

#side8 p{
  font-size: 1.4vw;
}

#side8 iframe{
  margin: 1%;
}

#side8 a{
  font-size: 1.3vw;
  margin-left: 3px;
}
#logobund {
  width: 15%;
}

footer {
  padding: 15px;
}

footer .fa {
  padding: 20px 20px;
  font-size: 22px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#mama .logo{
  width: 12%;
  margin: 2%;
}

#mama h1{
  font-size: 330%;
  margin-top: 0;
  margin-bottom: 1%;
}

#mama header{
  height: 6em;
}

#mama .mor{
  width: 30%;
}

#mama #robot{
  width: 35%;
}

#mama #bred{
  padding-top: 3%;
}

#mama #search h2{
  font-size: 145%;
}

#mama select{
  font-size: 140%;
}

#mama #search input{
  font-size: 108%;
  padding: 1% 5%;
  margin: 2.5% auto;
}

#mama #search h2{
  font-size: 100%;
}

#mama #quest{
  margin-top: 3%;
  padding: 4% 5% 5% 5%;
}

#mama #quest .flexcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#mama #quest .flexitem{
  width: 47%;
}

#mama #quest .flexcontainer section{
  margin-top: 2%;
}

#mama #quest #adress h4{
  margin-top: 3%;
}

#mama #quest #adress ul{
  margin-bottom: 15%;
}

#mama #quest .flexcontainer section p{
  margin: 0;
}

#mama #quest .flexcontainer article{
  margin-top: 5%;
}

#mama #quest .flexcontainer #alle{
  padding-top: 1%;
}

}


/* X X Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px)
{}
